
@{
    ViewBag.Title = "Update";
}

    <div class="hero-wrap hero-bread" style="background-image: url('../images/bg_1.jpg');">
        <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("", "TrangChu")">Trang chủ</a></span> <span>Tài khoản</span></p>
                    <h1 class="mb-0 bread">Cập nhật mật khẩu</h1>
                </div>
            </div>
        </div>
    </div>


    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 ftco-animate">
                    <form method="post" class="">
                        <h3 class="mb-4 billing-heading">Cập nhật mật khẩu</h3>
                        @Html.ValidationSummary()
                        <div class="row align-items-end">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="oldPass">Mật khẩu cũ</label>
                                    <input name="oldPass" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="newPass">Mật khẩu mới</label>
                                    <input name="newPass" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label name="confirmPass">Nhập lại mật khẩu mới</label>
                                    <input name="confirmPass" type="text" class="form-control" placeholder="">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary py-2 px-3">Cập nhật</button>
                                @Html.ActionLink("Trở về", "Index", "Customer", null, new { @class = "info btn btn-primary py-2 px-3" })
                            </div>
                        </div>
                    </form><!-- END -->
                </div>
            </div>
        </div>
    </section> <!-- .section -->
